.header{
    background: crimson;
    color: white;
}

.header .admin{
    padding: 17px 0px;
    font-size: 25px;
}
.header .admin a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.header .admin-section
{
    background: tomato;
    height: 700px;
}
.header .manu{}
.header .manu ul{
    list-style-type: none;
        margin: auto;
        margin-left: -32px;
    
}
.header .manu ul li{

}

.header .manu ul li a{
    text-decoration: none;
    color: azure;
    padding: 10px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: arial;
   transform:.5s ;
   transition: .5s;
    
}
.header .manu ul li a:hover{
    background: black;
}


/*book-count*/
.book-count {
    border-radius: 5px;
    background: blue;
    height: 150px;
    margin-top: 50px;
    box-shadow: 0px 0px 6px black;
    text-align: center;
    transform:.5s ;
    transition: .5s;
}
.book-count:hover{
    background: rgb(36, 36, 195);
}
.student-count {
    border-radius: 5px;
    background: blue;
    height: 150px;
    margin-top: 50px;
    box-shadow: 0px 0px 6px black;
    text-align: center;
    transform:.5s ;
    transition: .5s;
}
.student-count:hover{
    background: rgb(36, 36, 195);
}
.issue-book-count {
    border-radius: 5px;
    background: blue;
   height: 150px;
    margin-top: 50px;
    box-shadow: 0px 0px 6px black;
    text-align: center;
    margin-right: 20px;
    transform:.5s ;
    transition: .5s;
}
.issue-book-count:hover{
    background: rgb(36, 36, 195);
}

i.fa-solid.fa-book .icon-dada {
    font-size: 50px;
    color: white;
}
i .fa-solid .fa-graduation-cap .icon-dada{
       font-size: 50px;
    color: white;

}