.header{
    background: brown;
    position: fixed;
    width: 100%;
}
.header .logo{
    text-align: center;
}
.header .logo span{
    color: white;
   font-size: 40px;
}
.header .logo a{
    text-decoration: none;
}
.header .sing-up{
    text-align: center;

}
.header .sing-up ul{
    list-style-type: none;
}
.header .sing-up ul li{
    display: inline-block;
    margin-top: 10px;
}
.header .sing-up ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 13px;
}
.header .sing-up ul li a:hover{
    color: antiquewhite;
}
/*studen_admin_login*/
.studen_admin_login{
    background-image: url(../image/elibrary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

/*student part*/

.student_login_form{
    margin-top: 150px;
    background: brown;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 4px;
    color: white;
}
/*student part END*/


/*Admin section*/
.admin_login_form{
    margin-top: 150px;
    background: darkslategray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 4px;
    color: white;
}


/*Admin Section End*/