.header{
    position: relative;
    width: 100%;
}
.header .logo{
    text-align: center;
}
.header .logo span{
    color: #00abf9;
   font-size: 40px;
}
.header .logo a{
    text-decoration: none;
}
.header .sing-up{
    text-align: center;
    margin-top: 5px;

}
.header .sing-up ul{
    list-style-type: none;
}
.header .sing-up ul li{
    display: inline-block;
    margin-top: 10px;
}
.header .sing-up ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 13px;
    font-weight: 500;
}
.header .sing-up ul li a:hover{
    color: #00cd93;
}
.header .sing-up .actives a{
    color: #00cd93;
    font-weight: 600;
}
/*studen_admin_login*/
.studen_admin_login{

}

/*student part*/

.student_login_form{
    margin-top: 150px;
    background: brown;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 4px;
    color: white;
}
/*student part END*/


/*Admin section*/
.admin_login_form{
    padding: 20px 60px;
    color: white;
    background: linear-gradient(180deg, #00d2ff 0%, #3a47d5 100%);
    height: 100svh;
    overflow: hidden;
    width: 100%;
}
.admin_login_form .studen{
    text-align:center;
}
.login-icon-avater{
    font-size: 50px;
}
.admin_login_form .in-field {
    border-radius: 100px;
    padding: 10px 20px;
}

/*Admin Section End*/