*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    min-height: 100%;
    background-color: #f8fdff;
}

.admin_login_form .submit-btn {
    background-color: #00cd93;
    width: 100%;
    border-radius: 100px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}   
.admin_login_form .froget-pass {
    justify-content: center;
    display: flex;
    color: white;
}

/*admin Dashboard part*/
.admin {
  padding: 12px;
  background: linear-gradient(0deg, #00abf9 0%, #00cd93 100%);
  color: white;
  height: 700px;
  border-radius: 10px;
  min-height: 100%;
}
.admin .manu ul{
    list-style-type: none;
        margin: auto;
      
    
}
.admin .manu ul li{
    margin-top: 20px;
}
.admin .manu ul li a i{
    margin-right: 10px;
    margin-left: 5px;
}
.admin .manu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    font-family: arial;
   transform:.5s ;
   transition: .2s;
    
}
.admin .dashboard
{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;

}
.admin .dashboard:hover{
    text-decoration: none;
    color: white;
}
.admin .manu ul .actives {
    background: black;
    border-radius: 10px;
}

.admin .manu ul li:hover{
    background: black;
    border-radius: 10px;
}


/* Admin dashboard part END*/

/*Card part*/
.card-body {
    background: #fff5e1;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    text-align: center;
    box-shadow: 0px 2px 23px #ddd;
    cursor: crosshair;
    height: 150px;
}
.card-body.book-count h4 i
{
    color: #fca800;
}
.card-body .icon 
{
    border-radius: 100%;
    padding: 12px;
    width: 54px;
}
.card-body.book-count .icon 
{
    background: #fca8002b;
    border-radius: 100%;
    padding: 12px;
    width: 54px;
}
.card-body.book-count .title  
{
    color: #fca800;
}
.card-body .card-text 
{
    text-align: right;
    padding: 5px;
    margin-right: 20px;
}.card-body .title 
{
    font-weight: 600;
    color: #7b7b79;
    text-transform: uppercase;
    font-size: 18px;
}
.card-body .count 
{
    font-weight: bolder;
    font-size: 30px;
    line-height: 2;
    margin-top: -50px;
}
.student-count {
    background: #e0f8ea;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    text-align: center;
}
.card-body.student-count .title
{
    color: #00ca50;
}
.card-body.student-count .icon  i
{
    color: #00ca50;
}
.card-body.student-count  .icon 
{
    background: #b4edcc;

}
.issue-book-count {
    background: #fdeae4;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    text-align: center;
    box-shadow: 0px 6px 2px #ddd;
    
}
.card-body .icon {
    border-radius: 100%;
    padding: 12px;
    width: 54px;
    background: bisque;
    color: darkslateblue;
  }
  h4.icon-4 {
    text-align: initial;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 17px;
    background: bisque;
}
h4.book-request {
    font-size: 17px;
    color: #fca800;
    text-align: right;
    font-weight: bolder;
    margin-top: 20px;
}

h4.icon-5 {
    text-align: initial;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 21px;
    line-height: 0;
    background: rgb(205, 230, 251);
    color: cadetblue;
}
h4.return-book {
    font-size: 17px;
    color: rgb(57, 185, 190);
    text-align: right;
    font-weight: bolder;
    margin-top: 20px;
}

/*Card part END*/
