*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    min-height: 100%;
}

.admin_login_form .submit-btn {
    background-color: #00cd93;
    width: 100%;
    border-radius: 100px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}   
.admin_login_form .froget-pass {
    justify-content: center;
    display: flex;
    color: white;
}

/*admin Dashboard part*/
.admin {
  padding: 12px;
  background: linear-gradient(0deg, #00abf9 0%, #00cd93 100%);
  color: white;
  height: 700px;
  border-radius: 10px;
  min-height: 100%;
}
.admin .manu ul{
    list-style-type: none;
        margin: auto;
      
    
}
.admin .manu ul li{
    margin-top: 20px;
}
.admin .manu ul li a i{
    margin-right: 10px;
    margin-left: 5px;
}
.admin .manu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    font-family: arial;
   transform:.5s ;
   transition: .2s;
    
}
.admin .dashboard
{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;

}
.admin .dashboard:hover{
    text-decoration: none;
    color: white;
}
.admin .manu ul .actives {
    background: black;
    border-radius: 10px;
}

.admin .manu ul li:hover{
    background: black;
    border-radius: 10px;
}


/* Admin dashboard part END*/

/*Card part*/
.book-count {
    background: blanchedalmond;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    height: 150px;
    text-align: center;
    box-shadow: 0px 6px 2px #ddd;
}
.student-count {
    background: cadetblue;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    height: 150px;
    text-align: center;
    box-shadow: 0px 6px 2px #ddd;
}
.issue-book-count {
    background: darkgray;
    margin-top: 41px;
    border-radius: 20px;
    color: black;
    height: 150px;
    text-align: center;
    box-shadow: 0px 6px 2px #ddd;
}



/*Card part END*/
